.elementor-7 .elementor-element.elementor-element-896361f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-896361f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-f2c981a>.elementor-element-populated {
    margin: 10px 0px 10px 0px;
}

.elementor-7 .elementor-element.elementor-element-da2fc16 .elementor-image img {
    width: 100%;
    max-width: 100%;
    border-style: double;
    border-width: 10px 10px 10px 10px;
    border-color: #74B2E2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-7 .elementor-element.elementor-element-da2fc16>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
    border-style: groove;
    border-width: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-0a2652b .elementor-image img {
    width: 100%;
    max-width: 100%;
    border-style: double;
    border-width: 10px 10px 10px 10px;
    border-color: #74B2E2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-7 .elementor-element.elementor-element-0a2652b>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
    border-style: groove;
    border-width: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-897547e>.elementor-element-populated {
    margin: 10px 0px 10px 0px;
}

.elementor-7 .elementor-element.elementor-element-770d7c4 .elementor-image img {
    width: 100%;
    max-width: 100%;
    border-style: double;
    border-width: 10px 10px 10px 10px;
    border-color: #74B2E2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-7 .elementor-element.elementor-element-770d7c4>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
    border-style: groove;
    border-width: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-9e1921e .elementor-image img {
    width: 100%;
    max-width: 100%;
    border-style: double;
    border-width: 10px 10px 10px 10px;
    border-color: #74B2E2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-7 .elementor-element.elementor-element-9e1921e>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
    border-style: groove;
    border-width: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-cfd3f16>.elementor-element-populated {
    margin: 10px 0px 10px 0px;
}

.elementor-7 .elementor-element.elementor-element-591f752 .elementor-image img {
    width: 100%;
    max-width: 100%;
    border-style: double;
    border-width: 10px 10px 10px 10px;
    border-color: #74B2E2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-7 .elementor-element.elementor-element-591f752>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
    border-style: groove;
    border-width: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-6df8666 .elementor-image img {
    width: 100%;
    max-width: 100%;
    border-style: double;
    border-width: 10px 10px 10px 10px;
    border-color: #74B2E2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-7 .elementor-element.elementor-element-6df8666>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
    border-style: groove;
    border-width: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-bdfe6a9 .elementor-image img {
    width: 100%;
    max-width: 100%;
    border-style: double;
    border-width: 10px 10px 10px 10px;
    border-color: #74B2E2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-7 .elementor-element.elementor-element-bdfe6a9>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
    border-style: groove;
    border-width: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-5860403>.elementor-element-populated {
    margin: 10px 0px 10px 0px;
}

.elementor-7 .elementor-element.elementor-element-8953a2a .elementor-image img {
    width: 100%;
    max-width: 100%;
    border-style: double;
    border-width: 10px 10px 10px 10px;
    border-color: #74B2E2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-7 .elementor-element.elementor-element-8953a2a>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
    border-style: groove;
    border-width: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-d4d55cc .elementor-image img {
    width: 100%;
    max-width: 100%;
    border-style: double;
    border-width: 10px 10px 10px 10px;
    border-color: #74B2E2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-7 .elementor-element.elementor-element-d4d55cc>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
    border-style: groove;
    border-width: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-c655250 .elementor-image img {
    width: 100%;
    max-width: 100%;
    border-style: double;
    border-width: 10px 10px 10px 10px;
    border-color: #74B2E2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-7 .elementor-element.elementor-element-c655250>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
    border-style: groove;
    border-width: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-0f164b3>.elementor-element-populated {
    margin: 10px 0px 10px 0px;
}

.elementor-7 .elementor-element.elementor-element-2ce80c9 .elementor-image img {
    width: 100%;
    max-width: 100%;
    border-style: double;
    border-width: 10px 10px 10px 10px;
    border-color: #74B2E2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-7 .elementor-element.elementor-element-2ce80c9>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
    border-style: groove;
    border-width: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-54ee937 .elementor-image img {
    width: 100%;
    max-width: 100%;
    border-style: double;
    border-width: 10px 10px 10px 10px;
    border-color: #74B2E2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-7 .elementor-element.elementor-element-54ee937>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
    border-style: groove;
    border-width: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-01dca0a>.elementor-element-populated {
    margin: 10px 0px 10px 0px;
}

.elementor-7 .elementor-element.elementor-element-609ac89 .elementor-image img {
    width: 100%;
    max-width: 100%;
    border-style: double;
    border-width: 10px 10px 10px 10px;
    border-color: #74B2E2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-7 .elementor-element.elementor-element-609ac89>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
    border-style: groove;
    border-width: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-22c7472 .elementor-image img {
    width: 100%;
    max-width: 100%;
    border-style: double;
    border-width: 10px 10px 10px 10px;
    border-color: #74B2E2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-7 .elementor-element.elementor-element-22c7472>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
    border-style: groove;
    border-width: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-dcbc96d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-dcbc96d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-ebf99d6:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-7 .elementor-element.elementor-element-ebf99d6>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #EEF6FC;
}

.elementor-7 .elementor-element.elementor-element-ebf99d6>.elementor-element-populated,
.elementor-7 .elementor-element.elementor-element-ebf99d6>.elementor-element-populated>.elementor-background-overlay,
.elementor-7 .elementor-element.elementor-element-ebf99d6>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-7 .elementor-element.elementor-element-ebf99d6>.elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 0px 10px 0px;
}

.elementor-7 .elementor-element.elementor-element-ebf99d6>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}