@model Mvc50Begin.Models.Entity.TBL_KATEGORILER
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Kategori", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(x => x.KATEGORIID)
    @Html.TextBoxFor(x => x.KATEGORIID, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.KATEGORIAD)
    @Html.TextBoxFor(x => x.KATEGORIAD, new { @class = "form-control" })

</div>
<button class="btn btn-success">Güncelle</button>
}
