.elementor-68 .elementor-element.elementor-element-7457b7c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-68 .elementor-element.elementor-element-7457b7c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-68 .elementor-element.elementor-element-e8ec6c4:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-68 .elementor-element.elementor-element-e8ec6c4>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #EEF6FC;
}

.elementor-68 .elementor-element.elementor-element-e8ec6c4>.elementor-element-populated,
.elementor-68 .elementor-element.elementor-element-e8ec6c4>.elementor-element-populated>.elementor-background-overlay,
.elementor-68 .elementor-element.elementor-element-e8ec6c4>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-68 .elementor-element.elementor-element-e8ec6c4>.elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 0px 20px 0px;
}

.elementor-68 .elementor-element.elementor-element-e8ec6c4>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-68 .elementor-element.elementor-element-b7e0ad0 .elementor-menu-toggle {
    margin: 0 auto;
}

.elementor-68 .elementor-element.elementor-element-b7e0ad0 .elementor-nav-menu--main {
    font-size: 12px;
    letter-spacing: 0px;
}

.elementor-68 .elementor-element.elementor-element-b7e0ad0 .elementor-nav-menu--main .elementor-item:hover,
.elementor-68 .elementor-element.elementor-element-b7e0ad0 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-68 .elementor-element.elementor-element-b7e0ad0 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-68 .elementor-element.elementor-element-b7e0ad0 .elementor-nav-menu--main .elementor-item:focus {
    color: #6EC1E4;
}

.elementor-68 .elementor-element.elementor-element-b7e0ad0 .elementor-nav-menu--main .elementor-item {
    padding-left: 4px;
    padding-right: 4px;
}