.elementor-115 .elementor-element.elementor-element-6498c83 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-115 .elementor-element.elementor-element-aee82a2>.elementor-element-populated {
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
}